#!/usr/bin/env python3
"""
{{ project_name }}
{{ project_description }}

Point d'entrée principal de l'application Streamlit.
Auteur: {{ author_name }} <{{ author_email }}>
"""

import streamlit as st
from src.{{ project_slug }} import __main__

if __name__ == "__main__":
    __main__.main()